{% extends 'manufacturer/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block style %}
<link rel="stylesheet" href="{% static 'root/css/style.css' %}">
<style>
body{
    overflow-x: scroll !important;
}
@media only screen and (min-width:992px){
    .add-form-border{
        border-right: 2px solid #eeeeee;
    }
}
</style>
{% endblock style %}
{% block content %}
<div class="add-vehicle-form">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    <div class="row">
        <legend class="border-bottom pb-2 text-center">Add Vehicle</legend>
        <div class="col-lg-8 add-form-border pt-3">
            <form method="POST">
                <!-- This is important for security purpose -->
                {% csrf_token %}
                <fieldset class="form-group">
                    <div class="row">
                        {% for field in form1 %}
                            <div class="col-md-6">
                                {{ field|as_crispy_field }}
                            </div>
                        {% endfor %}
                    </div>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-success btn-block py-2" name="form1" type="submit">Add</button>
                </div>
            </form>
        </div>
        <div class="col-lg-4 ml-auto pt-3">
            <h4 class="text-center">Or</h4>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form2|crispy }}
                </fieldset>
                <br>
                <!-- Submit Button -->
                <div class="form-group">
                    <button class="btn btn-outline-success btn-block py-2" name="form2" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
