{% extends 'manufacturer/base.html' %}
{% load static %}
{% load tags_extra %}
{% block style %}
<link rel="stylesheet" href="{% static 'root/css/style.css' %}">
{% endblock style %}
{% block content %}
<div class="display-vehicle-data bg-white">
    <div class="row">
        {% for key,value in vehicle.items %}
            {% if 'manufacture_month' == key %}
                <div class="p-2 col-sm-3">
                    <span style="font-weight: bold">{{ key|vehicle_label }}</span>
                </div>
                <div class="p-2 col-sm-3">
                    <p>{{ value|month_name }}</p>
                </div>
            {% else %}
                <div class="p-2 col-sm-3">
                    <span style="font-weight: bold">{{ key|vehicle_label }}</span>
                </div>
                <div class="p-2 col-sm-3">
                    <p>{{ value }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}