{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <title>{{ app }} - {{ title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: rgb(250, 250, 250);
        }
    </style>
    <link rel="stylesheet" href="{% static 'root/css/style2.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'root/img/favicon.png' %}">

</head>

<body id="myPage">

    <h3 class="text-center forgot-password-app-name"><a class="home-title" href="{% url 'home' %}">{{ app }}</a></h3>
    <p class="text-center forgot-password-heading">Reset your password</p>

    <div class="content-forgot-password col-md-3 col-sm-6 col-xs-8 forgot-password-form ml-auto mr-auto">
                <!-- Messages Display Here -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <!-- Messages End Here -->

        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
				<p style="font-size: 14px;font-weight: 500">Enter your email address and we will send you a link to reset your password.</p>
                <input type="email" name="email" class="form-control forgot-email" required="required" placeholder="Enter your email address" title="Enter Email ID">
            </fieldset>
            <!-- Submit Button -->
            <div class="form-group">
                <button class="btn btn-outline-success btn-block py-2" type="submit">Submit</button>
            </div>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>

</html>