{% extends 'root/base.html' %}
{% load static %}
{% load tags_extra %}
{% load crispy_forms_tags %}
{% block navigation %}
{% if usertype != 'rto' %}
    <li class="nav-item nav-link"><a href="{% url 'register' usertype %}">Apply for Registration</a></li>
{% endif %}
{% endblock navigation %}
{% block style %}
<style>
.background-login{
    background-image: url('{% static usertype|background_image %}');
    opacity: 0.7;
}
</style>
{% endblock style %}
{% block content %}
<div class="hero">
    <section class="home-slider owl-carousel">
        <div class="slider-item background-login">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-login-box">
                    <div class="col-md-5 ml-auto">
                        <form method="POST" class="bg-white p-5 login">
                            <!-- This is important for security purpose -->
                            {% csrf_token %}
                            <fieldset class="form-group">
                                {% include 'root/messages.html' %}
                                <!-- Login Form -->
                                <legend class="border-bottom mb-4 pb-2 text-center">{{ usertype|upper_case }}</legend>
                                {{ form|crispy }}
                                <!-- Forgot Password -->
                                <a class="forgot-password" href="{% url 'forgot-password' %}">Forgot Password?</a>
                            </fieldset>
                            <!-- Submit Button -->
                            <div class="form-group">
                                <button class="btn btn-outline-success btn-block py-2" type="submit">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}
