{% extends 'root/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="content-logout">
        <div class="logout-logo text-center" style="width: 100%">
            <a href="{% url 'home' %}" style="padding-right: 0px; color: #111111;font-weight: 400; font-size: 24px;">
                {{ app }}
            </a>
        </div>

        <div class="col-lg-3 col-md-5 col-sm-6 logout-section ml-auto mr-auto text-center">
            <p class="text-center sign-out">
                You have been logged out
            </p>
            <a href="{% url 'login' usertype %}" style="font-weight: 600; font-size: 16px;
         padding: 10px; color: rgba(27,27,27,.9);" class="btn btn-signout btn-outline-info">Login Again</a>
        </div>
    </div>
{% endblock content %}s