{% extends 'root/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="content-logout">
        <div class="logout-logo text-center" style="width: 100%">
            <a href="{% url 'home' %}" style="padding-right: 0px; color: #111111;font-weight: 400">
                {{ app }}
            </a>
        </div>

        <div class="col-lg-3 col-md-5 col-sm-6 logout-section ml-auto mr-auto text-center">
            <p class="text-center sign-out">
                You have been logged out
            </p>
        </div>
    </div>
{% endblock content %}s