{% extends "users/base_profile.html" %}
{% block profile_content %}

<div class="profile-form">
    <!-- Message Structure -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <!-- Form -->
    <div class="media">
        <div class="media-body">
            <h2 class="account-heading">{{ name }}</h2>
            <p class="text-secondary">{{ email }}</p>
        </div>
        <a class="btn btn-outline-danger" href="{% url 'logout' %}">
            <span style="vertical-align: middle">
                Log Out
            </span>
        </a>
    </div>
</div>

{% endblock profile_content %}
