{% load tags_extra %}
{% load static %}
{% load fontawesome %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ app }} - {{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'root/style.html' %}

    {% block style %}
    {% endblock %}
</head>
{% block body_content %}
<body id="myPage">
{% endblock %}
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand home-title" href="{% url 'home' %}">{{ app }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                    aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item nav-link"><a href="{% url 'home' %}">Home</a></li>
                    {% block navigation %}
                    {% for usertype in usertypes %}
                    <li class="nav-item nav-link"><a href="{% url 'login' usertype %}">{{ usertype|sentence_case }}</a>
                    </li>
                    {% endfor %}
                    {% endblock %}
                    <li class="nav-item nav-link"><a href="{% url 'about' %}">About</a></li>
                    <li class="nav-item nav-link"><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

{% block content %}{% endblock %}

<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Digital RC</h2>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Useful Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'login' usertype='manufacturer' %}" class="py-2 d-block">Manufacturer</a>
                        </li>
                        <li><a href="{% url 'login' usertype='dealer' %}" class="py-2 d-block">Dealer</a>
                        </li>
                        <li><a href="{% url 'login' usertype='buyer' %}" class="py-2 d-block">Buyer</a>
                        </li>
                        <li><a href="{% url 'login' usertype='rto' %}" class="py-2 d-block">RTO</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Privacy</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">About Us</a></li>
                        <li><a href="#" class="py-2 d-block">Contact Us</a></li>
                        <li><a href="#" class="py-2 d-block">Services</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span
                                    class="text">SCET, Surat, Gujarat, India</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span
                                    class="text">+91 98547 62559</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">digirc2019@gmail.com</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% include 'root/scripts.html' %}

    {% block js %}
    {% endblock %}

</body>

</html>