{% load static %}
<!-- Google Maps API-->
<script src="{% static 'root/js/jquery.min.js' %}"></script>

<script src="{% static 'root/js/popper.min.js' %}"></script>

<script src="{% static 'root/js/jquery-3.2.1.min.js' %}"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>

<!-- Root JS Files -->
<script src="{% static 'root/js/aos.js' %}"></script>

<script src="{% static 'root/js/bootstrap.min.js' %}"></script>

<script src="{% static 'root/js/bootstrap-datepicker.js' %}"></script>

<script src="{% static 'root/js/google-map.js' %}"></script>

<script src="{% static 'root/js/jquery.animateNumber.min.js' %}"></script>

<script src="{% static 'root/js/jquery.easing.1.3.js' %}"></script>

<script src="{% static 'root/js/jquery.magnific-popup.min.js' %}"></script>

<script src="{% static 'root/js/jquery.mb.YTPlayer.min.js' %}"></script>

<script src="{% static 'root/js/jquery.waypoints.min.js' %}"></script>

<script src="{% static 'root/js/jquery.stellar.min.js' %}"></script>

<script src="{% static 'root/js/jquery-migrate-3.0.1.min.js' %}"></script>

<script src="{% static 'root/js/owl.carousel.min.js' %}"></script>

<script src="{% static 'root/js/scrollax.min.js' %}"></script>

<script src="{% static 'root/js/main.js' %}"></script>